body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: #000;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.container-left {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: -5px;
}

.container-left p {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 300;
  color: #83979e;
}

#email {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 2px;
  font-size: 17px;
  outline: none;
  border: 2px solid #fff;
}

#email:focus {
  border: 2px solid #83979e;
}

#btn-signup {
  padding: 10px 25px;
  font-size: 17px;
  border-radius: 2px;
  outline: none;
  border: 2px solid #3f9e9d;
  color: #000;
  background-color: #3f9e9d;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 5px;
}

#btn-signup:hover {
  background-color: transparent;
  border: 2px solid #3f9e9d;
  color: #3f9e9d;
}
