body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: #000;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(./assets/camera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.container-left {
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: -5px;
  max-width: 20ch;
}

.container-left p {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 300;
  color: #b7c4c9;
  max-width: 25ch;
}

#email {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 2px;
  font-size: 17px;
  outline: none;
  border: 2px solid #fff;
}

#email:focus {
  border: 2px solid #83979e;
}

#btn-signup {
  padding: 10px 25px;
  font-size: 17px;
  border-radius: 2px;
  outline: none;
  border: 2px solid #3f9e9d;
  color: #000;
  background-color: #3f9e9d;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 5px;
}

#btn-signup:hover {
  background-color: transparent;
  border: 2px solid #3f9e9d;
  color: #3f9e9d;
}

.container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.links h4::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-image: linear-gradient(#b7c4c9, #fff);
  border: 2px solid #b7c4c9;
  margin-right: 10px;
}

.links p {
  color: #b7c4c9;
  font-weight: 300;
  margin-left: 25px;
}

.links a {
  color: #b7c4c9;
  text-decoration: none;
  border-bottom: 2px solid #b7c4c9;
  display: inline-block;
  margin-left: 25px;
}
